{
  "AWSEBDockerrunVersion": "1",
  "Authentication" : {
    "Bucket" : "localservices-configuration",
    "Key" : "docker-hub/dockercfg"
  },
  "Image" : {
    "Name" : "xolocalvendors/reviews-worker:{version}",
    "Update" : "true"
  },
  "Ports" : [
    {
      "ContainerPort" : "8000",
      "HostPort" : "80"
    }
  ],
  "Logging": "/var/log/nodejs"
}
